@import "src/styles/constants.scss";

button{
    width: 100%;
    border-color:transparent;
    font-family: IRANYekanNum !important;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}