@media (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}
@media (max-width: 1199px) {
  .container {
    max-width: 950px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 590px) {
  .container {
    max-width: 100%;
  }
}
