* {
  box-sizing: border-box !important;
}
html,
body {
  font-family: IRANYekanNum !important;
  box-sizing: border-box;
  direction: rtl;
  margin: 0;
}
.container{
  margin: 0 auto;
}
p{
  margin: 0;
}