@import "src/styles/constants.scss";

.filter_container{
    width: 100%;
    .filter_categories{
        width: 100%;
        list-style: none;
        border-bottom: 1px solid $gray-cs;
        
        display: flex;
        align-items: center;
        .filter_item{
            font-size: 14px;
            color: $greyish-brown;
            padding: 0 18px 12px 18px;
            height: 100%;
            cursor: pointer;
            &.selected{
                border-bottom: 3px solid $blue;
                font-weight: bold;
            }
        }
    }
}