@import "src/styles/constants.scss";

.filter_wrapper {
  height: 100%;
  position: relative;
  width: 100%;
  .white_card_top {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    .white-top_item {
      padding: 0;
      display: flex;
      align-items: center;
      padding-left: 20px;
      span {
        width: 18px;
        height: 18px;
        background-color: $white;
        border-radius: 50%;
        border: 1px solid $gray-cs;
        position: relative;
        &.checked{
          padding: 10px;
          &::after{
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            left: 0;
            top: 0;
            transform: translate(50%,50%);
            background-color: $blue;
            border-radius: 50%;
          }
        }
      }
      p {
        padding-right: 10px;
        font-size: 14px;
        color: $black-16;
      }
    }
  }
  .white_card-bottom{
    display: flex;
    gap: 10px;
  }
  
}
@media (max-width: 767px){
  .home_white_card{
    height: fit-content !important;
  }
  .filter_wrapper{
    margin-bottom: 10px;
  }
  .white_card-bottom{
    flex-direction: column;
    
    .input-card{
      width: 100%;
    }
  }
}
